.img1{
width: 250px;
height: 150px;
border: solid 5px #1b1d29;
border-radius: 10px;
}
.pipoca{
height: 100px;
}

h3{
  color:white;
}

  h2{
    color: white;
  }

  p{
    color: white;
  }

  body{
background-color: black;
color: white;
  }

a{
padding: 10px;
display:inline-block;
color: cyan;
text-decoration: none;
font-weight: bold;
background-color: #212338;
border-radius: 10px;
border: solid 3px #373960;
}

a:hover{
color: black;
text-decoration: none;
background-color: cyan;
}

legend{
color: white;
}

ul{
  color: white;
  background-color: green;
}

ol{
  color: white;
  background-color: green;
}

details{
  color: white
}

  .grid-container{
display: grid;
gap: 4px;
grid-template-columns: 2fr 2fr 2fr;
background-color: #031833;
}

.grid-item-1{
grid-column: span 3;
  background-color: #373960;
  text-align: center;
  font-size: 25px;
}

.grid-item0{
  background-image:  url(img/capa.jpeg);
margin: 2px;
grid-column: span 3;
background-repeat: repeat;
background-size: 100%;
  height: 350px;
}

.grid-item1{
margin: 2px;
grid-row: span 5;
background-color: #373960;
  text-align: center;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px 2px  white;
}
.grid-item2{
margin: 2px;
grid-column: span 2;
background-color: #373960;
  text-align: center;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px 2px  white;
}
.grid-item3{
margin: 2px;
background-color: #373960;
  text-align: center;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px 2px  white;
}

.grid-item4{
background-image:  url(img/codigo.jpg);
grid-column: span 3;
background-repeat: repeat;
background-size: 100%;
height: 350px;
}
.grid-item5{
  background-color: black;
margin: 2px;
grid-column: span 3;
background-repeat: repeat;
background-size: 100%;
  height: 350px;
  text-align: center;
}

.grid-item6{
  grid-column: span 4;
margin: 2px;
background-color: #3f4553;
  text-align: center;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px 2px  white;
    height: 350px;
}

X.grid-item6{
margin: 2px;
grid-column: span 1;
background-repeat: repeat;
background-size: 100%;
  text-align: center;
  padding: 5px 10px 5px 10px;
  height: 350px;
}

.imglupa{
    height: 40px;
}

.imgicones{
height: 30px;
width: 30px;
transform: rotate(50deg);
margin: 5px;
 }

 
 .html{
color: #ec6630;
font-style: italic;
font-family:cursive;
}
.css{
color: #0096e6;
font-style: italic;
font-family:cursive;
}
.java{
color: #eeaf4b; 
font-style: italic;
font-family:cursive;
}
button{
  border-radius: 10px;
}





.cards-container{
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px
}


.flip-card{
width: 250px;
height: 150px;
border-radius: 10px;
perspective: 1000px;
background-color: transparent;
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back{
  display: grid;
  place-items: center;
}
.flip-card-front{
  display: grid;
  place-items: center; 
  border: 1px solid rgba (151, 149, 149, 0.466);
  border-radius: 10px;
}

.flip-card-back{
  background-color: #212338;
  transform: rotateY(180deg);
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 10px;
}

.flip-card-front img{
  width: 90%;
  background-size: cover;
}

.flip-card-back h3{
  color: #f1c40f;
}


